ion-header {
  margin-top: 30px;
}

ion-header {
  margin-top: 30px;
}

ion-card {
display: none;
}

ion-card.show {
display: block;
}





.image-cover {
  margin-right: 43px;
  margin-bottom: 35px;
}