<ion-header >
  <ion-img src="assets/headerbg.png"></ion-img>
  <ion-toolbar>
    <ion-title style="text-align: center;">Facilities</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Ground Floor</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ol>
          <li><p>Bursar Office</p></li>
          <img  src="assets/bursar.jpg" >
          <br>
          <li><p>Corporate Planning Department</p></li>
          <img src="assets/planning.jpg" >
          <br>
          <li><p>Cafeteria</p></li>
          <img src="assets/cafe.jpg" >
          <br>
          <li><p>ATM Machine</p></li>
          <img src="assets/atm.jpg" >
          <br>
          <li><p>Meeting Room ( DELIMA )</p></li>
          <img src="assets/delima.jpg" >
          <br>
          <li><p>Information & Communication Division</p></li>
          <img src="assets/information.jpg" >
          <br>
          <li><p>Chancelory Office</p></li>
          <img src="assets/chansellor.jpg" >
          <br>
          <li><p>Registrar Office</p></li>
          <img src="assets/register.jpg" >
          <br>
          <li><p>Prayer Room ( Women )</p></li>
          <img src="assets/prayerP.jpg" >
        </ol>
    </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Floor 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ol>
          <li><p>OBE Lab</p></li>
          <img  src="assets/obe.jpg" >
          <br>
          <li><p>Perpustakaan Al-Khawarizmi</p></li>
          <img src="assets/library.jpg" >
          <br>
          <li><p>Prayer Room (Men)</p></li>
          <img src="assets/prayerL.jpg" >
          <br>
          <li><p></p>Technical Room</li>
          <img src="assets/teknikal.jpg" >
        </ol>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Floor 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ol>
          <li><p>Music Studio</p></li>
          <img  src="assets/music.jpg" >
          <br>
          <li><p>Photography Studio</p></li>
          <img src="assets/photo.jpg" >
          <br>
          <li><p>Admission & Student Record Division</p></li>
          <img src="assets/bkr.jpg" >
          <br>
          <li><p>Centre Of Academic Excellence & Services</p></li>
          <img src="assets/centre.jpg" >
          <br>
          <li><p>Sick Bay</p></li>
          <img src="assets/sick.jpg" >
          <br>
          <li><p>Counselling & Alumni Division</p></li>
          <img src="assets/alumni.jpg" >
          <br>
          <li><p>Simulation Room (Kindergarten)</p></li>
          <img src="assets/kinder.jpg" >
          <br>
          <li><p>Student Affairs Department</p></li>
          <img src="assets/affairs.jpg" >
          <br>
          <li><p>IGS Lounge</p></li>
          <img src="assets/igs.jpg" >
          <br>
          <li><p>Research & Innovation</p></li>
          <img src="assets/research.jpg" >
          <br>
          <li><p>Institute Of Graduate Studies</p></li>
          <img src="assets/graduate.jpg" >
          <br>
          <li><p>Nilam Hall</p></li>
          <img src="assets/nilam.jpg" >
          <br>
          <li><p>Student Development & Campus Lifestyle Office</p></li>
          <img src="assets/lifestyle.jpg" >
          <br>
          <li><p>Student Square</p></li>
          <img src="assets/bilik joget.jpg" >
        </ol>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Floor 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ol>
          <li><p>Bilik Gerakan Peperiksaan</p></li>
          <img src="assets/gerakan.jpg" >
          <br>
          <li><p>Micro-Teaching Room</p></li>
          <img src="assets/micro.jpg" >
        </ol>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Floor 4</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ol>
          <li><p>Komasa</p></li>
          <img src="assets/komasa.jpg" >
          <br>
          <li><p>Student Hangout</p></li>
          <img src="assets/student.jpg" >
        </ol>
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label>Floor 5</ion-label>
      </ion-item>
      
      <div class="ion-padding" slot="content" class="image-cover">
        <ol>
          <li><p>Dewan Serbaguna</p></li>
          <img src="assets/dewan.jpg" >
          <br>
          <li><p>Professional Student Learning Space</p></li>
          <img src="assets/pro.jpg" >
        </ol>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

