<ion-header >
  <ion-img src="assets/headerbg.png"></ion-img>
  <ion-toolbar>
    <ion-title style="text-align: center;">Floor map</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Ground Floor</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-container">
      <img src="assets/ground.jpg" >
    </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Floor 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-container">
        <img src="assets/level1.jpg" >
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Floor 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-container">
        <img src="assets/level2.jpg" >
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Floor 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-container">
        <img src="assets/level3.jpg" >
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label>Floor 4</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-container">
        <img src="assets/level4.jpg" >
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="light">
        <ion-label>Floor 5</ion-label>
      </ion-item>
      
      <div class="ion-padding" slot="content" class="image-container">
        <img  src="assets/level5.jpg" alt="Your Image">
        
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>




