<ion-header >
  <ion-toolbar >
    
    <ion-img src="assets/headerbg.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br><br><br><br><br>
   <img style="align-items: center;  margin-left: 20px; " src="assets/uptmlogo.png" >
   
   <ion-card class="menu-card">
    <h1 class="menu-title">UPTM <br> STUDENT <br> TOUR</h1>
   </ion-card>

   
<ion-tabs>
  <ion-tab-bar slot="button">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"> </ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="student">
      <ion-icon name="school-outline"> </ion-icon>
      <ion-label>STUDENT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="option">
      <ion-icon name="cog-outline"> </ion-icon>
      <ion-label>HELP</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


</ion-content>
