<ion-header >
  <ion-toolbar>
    <ion-title style="text-align: center;">User Manual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h4 style="text-align: center;">Hi welcome to the user manual UPTM Student Tour :</h4>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Floor map</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ul>
          <li>Step 1 : Click on this button to go thru Floor Mapping features. </li><br>
          <img  src="assets/manualfloor1.jpg"  >
          <br><br>
          <li>Step 2 : Click on drawer provides to look the mapping picture. </li><br>
          <img  src="assets/manualfloor2.jpg"  >
          <br><br>
          <li>Step 3 : The map route already shown. </li><br>
          <img  src="assets/manualfloor3.jpg"  >
          <p>Go thru this section, click <a (click)="goToFloorPage()">here</a>.</p>
        </ul>
        
    </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Facilities</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ul>
          <li>Step 1 : Click on this button to go thru Facilities provided features. </li><br>
          <img  src="assets/manualfaci1.jpg"  >
          <br><br>
          <li>Step 2 : Click on this drawer provides to look the list all facilities provided. </li><br>
          <img  src="assets/manualfaci2.jpg"  >
          <br><br>
          <li>Step 3 : List all the facilities every floor has been shown. </li><br>
          <img  src="assets/manualfaci3.jpg"  >
          <p>Go thru this section, click <a (click)="goToFacilitiesPage()">here</a>.</p>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Lecturer</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ul>
          <li>Step 1 : Click on this button to go thru Lecturer list features. </li><br>
          <img  src="assets/manuallect1.jpg"  >
          <br><br>
          <li>Step 2 : This app would have to search by Name, Faculty, or location lecturer. </li><br>
          <img  src="assets/manuallect2.jpg"  >
          <br><br>
          <li>Step 3 : Press enter after u have done insert name. </li><br>
          <img  src="assets/manuallect3.jpg"  >
          <br><br>
          <li>Step 4 : List all lecturer has been sort. </li><br>
          <img  src="assets/manuallect4.jpg"  >
          <p>Go thru this section, click <a (click)="goToLecturerPage()">here</a>.</p>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>Student</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="image-cover">
        <ul>
          <li>Step 1 : Click on this button to go thru Student panel features. </li><br>
          <img  src="assets/manualstudent1.jpg"  >
          <br><br>
          <li>Step 2 : click on those link can go to CMS or LMS student stuff. </li><br>
          <img  src="assets/manualstudent2.jpg"  >
          <br>
          <p>Go thru this section, click <a (click)="goToStudentPage()">here</a>.</p>
        </ul>
      </div>
    </ion-accordion>
    
  </ion-accordion-group>
</ion-content>
